.input-label{
    font-size: min(1.9vw, 1.2em);
}
input{
    width: 60%;
    margin-bottom: 5px;
}
button{
    margin-top:14px
}
table {
    margin-top: 5px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
p.flash-message{
    color: red;
}