form.search {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10%;
    margin-right: 25%;
    margin-left: 15%;
    border: black;
    border-radius: 30px;
    background: #cccccc;
}
input.search{
    position: center;
    width: 100%;
}