{% extends 'base.html' %}
<link rel="stylesheet" href="/css/avaleht_style.css">

{% block content %}
    <h1>{% block title %} Avaleht {% endblock %}</h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/avaleht_style.css">
{% endblock %}

{% block nav %}
    <li><a href="{{ url_for('company_founding_form') }}">Osaühingu asutamise vorm</a></li>
{% endblock %}

{% block form %}
    <form method="post">
         <label for="search">Otsi:</label><br>
    {% if search == "" %}
        <input name="search" class="search" type="text"
               autocomplete="off"
               placeholder="Sisestage ettevõtte või isiku nimi või registrikood/isikukood"><br>
    {% else %}
        <input name="search" class="search" type="text" autocomplete="off" placeholder={{ search }}><br>
    {% endif %}
    <table>
        {% if companies | length != 0 %}
            <h4>Ettevõtted:</h4>
            <tr>
                <th>Ettevõtte nimi:</th>
                <th>Registrikood:</th>
                <th></th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td>{{ company['company_name'] }}</td>
                    <td>{{ company['registry_code'] }}</td>
                    <td><button><a href="{{ url_for('company_data_view', id=company['id'])}}">Vaata</a></button></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <table>
        {% if people | length != 0 %}
            <h4>Füüsilised isikud:</h4>
            <tr>
                <th>Nimi</th>
                <th>Isikukood</th>
                <th>Ettevõtted</th>
                <th></th>
            </tr>
            {% for person in people %}
                <tr>
                    <td>{{ person['first_name'] }} {{ person['last_name'] }}</td>
                    <td>{{ person['id_code'] }}</td>
                    <td>{{ person['companies'][0]['company_name'] }}</td>
                    <td><button><a href="{{ url_for('company_data_view', id=person['companies'][0]['id'])}}">Vaata</a></button></td>
                </tr>
                    {% for company in person['companies'][1:] %}
                        </tr>
                            <td></td>
                            <td></td>
                            <td>{{ company['company_name'] }}</td>
                            <td><button><a href="{{ url_for('company_data_view', id=company['id'])}}">Vaata</a></button></td>
                        </tr>
                    {% endfor %}
            {% endfor %}
        {% endif %}
    </table>
    <table>
        {% if legal_people | length != 0 %}
            <h4>Juriidilised isikud:</h4>
            <tr>
                <th>Ettevõtte imi</th>
                <th>Registrikood</th>
                <th>Ettevõtted</th>
                <th></th>
            </tr>
            {% for legal_person in legal_people %}
                <tr>
                    <td>{{ legal_person['company_name'] }}</td>
                    <td>{{ legal_person['registry_code'] }}</td>
                    <td>{{ legal_person['companies'][0]['company_name'] }}</td>
                    <td><button><a href="{{ url_for('company_data_view', id=legal_person['companies'][0]['id'])}}">Vaata</a></button></td>
                </tr>
                    {% for company in legal_person['companies'][1:] %}
                        </tr>
                            <td></td>
                            <td></td>
                            <td>{{ company['company_name'] }}</td>
                            <td><button><a href="{{ url_for('company_data_view', id=company['id'])}}">Vaata</a></button></td>
                        </tr>
                    {% endfor %}
            {% endfor %}
        {% endif %}
    </table>
    </form>
{% endblock %}
