{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Osaühingu asutamise vorm {% endblock %}</h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/asutamise_vorm_style.css">
{% endblock %}

{% block nav %}
    <li><a href="{{ url_for('main_page') }}">Avaleht</a></li>
{% endblock %}

{% block form %}
     <!-- This displays error messages if user has left a founder input empty while trying to add one. -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" id="company_data">
        <label for="company_name" class="input-label">Osaühingu nimi:</label><br>
        <input type="text" name="company_name" value="{{ company_data['company_name'] }}"
               required minlength="3" maxlength="100"><br>

        <label for="registry_code" class="input-label">Registrikood:</label><br>
        <input type="number" name="registry_code" value="{{ company_data['registry_code'] }}"
               required min="1000000" max="9999999"><br>

        <label for="start_date" class="input-label">Asutamise kuupäev:</label><br>
        <input type="date" name="start_date" value="{{ today_date }}" value="{{ company_data['start_date'] }}"
               required max="{{ today_date }}"><br>

        <label for="total_capital" class="input-label">Kogukapitali suurus:</label><br>
        <input type="number" name="total_capital" value="{{ company_data['total_capital'] }}"
               required min="2500"><br>

        <h4>Osanikud:</h4>

        <label for="first_name" class="input-label">Eesnimi:</label><br>
        <input type="text" name="first_name" minlength="3"><br>

        <label for="last_name" class="input-label">Perekonnanimi:</label><br>
        <input type="text" name="last_name" minlength="3"><br>

        <label for="id_code" class="input-label">Isikukood:</label><br>
        <input type="number" name="id_code" min="10000000000" max="99999999999"><br>

        <label for="capital_share" class="input-label">Osaniku osa suurus:</label><br>
        <input type="number" name="capital_share" min="1"><br>

        <button type="submit">Lisa osanik</button>

    </form>
    <table>
        {% if person_data | length != 0 %}
        <tr>
            <th>Eesnimi</th>
            <th>Perekonnanimi</th>
            <th>Isikukood</th>
            <th>Osaniku osa</th>
        </tr>
            {% for person in person_data %}
                <tr>
                    <td>{{ person['first_name'] }}</td>
                    <td>{{ person['last_name'] }}</td>
                    <td>{{ person['id_code'] }}</td>
                    <td>{{ person['capital_share'] }}€</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <!-- This sends the final company data and "submit" key to the flask application -->
    <!-- So we can add the data to database -->
    <button type="submit" form="company_data" name="submit" value="{{ company_data }}">Asuta osaühing</button>
{% endblock %}
