{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Osaühingu asutamise vorm {% endblock %}</h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/asutamise_vorm_style.css">
{% endblock %}

{% block nav %}
    <li><a href="{{ url_for('main_page') }}">Avaleht</a></li>
{% endblock %}

{% block form %}
     <!-- This displays error messages if user has left a new person input empty while trying to add one. -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" id="company_data">
         <!-- this is for company data-->
        <label for="company_name" class="input-label">Osaühingu nimi:</label><br>
        <input type="text" name="company_name" value="{{ request.form['company_name'] }}"><br>

        <label for="registry_code" class="input-label">Registrikood:</label><br>
        <input type="number" name="registry_code" value="{{ request.form['registry_code'] }}"><br>

        <label for="start_date" class="input-label">Asutamise kuupäev:</label><br>
        <input type="date" name="start_date" value="{{ request.form['start_date'] }}"><br>

        <label for="total_capital" class="input-label">Algkapitali suurus:</label><br>
        <input type="number" name="total_capital" value="{{ request.form['total_capital'] }}"><br>

        <!-- this is for searching persons or companies already in database -->
        <h4>Otsi juriidiline või füüsiline isik</h4>
        <input name="search" class="search" type="text" autocomplete="off"
               placeholder="Sisestage ettevõtte nimi või registrikood"><br>

        <!-- this is for showing search results ( people ) -->
        <table>
            {% if people | length != 0 %}
                <h4>Füüsilised isikud:</h4>
                <h4>Lisa osaniku osa suurus!</h4>
                <td><input type="number" name="person_capital" min="1"></td>
                <tr>
                    <th>Nimi</th>
                    <th>Isikukood</th>
                    <th></th>
                </tr>
                {% for person in people %}
                    <tr>
                        <td>{{ person['first_name'] }} {{ person['last_name'] }}</td>
                        <td>{{ person['id_code'] }}</td>
                        <td><button name="add_button" value="{{ person }}">Lisa füüsiline isik</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <!--this is for showing search results ( legal people ) -->
        <table>
            {% if legal_people | length != 0 %}
                <h4>Juriidilised isikud:</h4>
                <h4>Lisa osaniku osa suurus!</h4>
                <td><input type="number" name="legal_person_capital" min="1"></td>
                <tr>
                    <th>Ettevõtte nimi</th>
                    <th>Registrikood</th>
                    <th></th>
                </tr>
                {% for legal_person in legal_people %}
                    <tr>
                        <td>{{ legal_person['company_name'] }}</td>
                        <td>{{ legal_person['registry_code'] }}</td>
                        <td><button name="add_button" value="{{ legal_person }}">Lisa Juriidiline isik</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </form>

    <!-- this is for showing people and legal people already subimtted as shareholders -->
    <h4>Osanikud:</h4>

    <table>
        {% if person_data | length != 0 %}
            <h3>Füüsilised isikud:</h3>
                <tr>
                    <th>Eesnimi</th>
                    <th>Perekonnanimi</th>
                    <th>Isikukood</th>
                    <th>Osaniku osa</th>
                </tr>
                    {% for person in person_data %}
                        <tr>
                            <td>{{ person['first_name'] }}</td>
                            <td>{{ person['last_name'] }}</td>
                            <td>{{ person['id_code'] }}</td>
                            <td>{{ person['capital_share'] }}€</td>
                        </tr>
                    {% endfor %}
        {% endif %}
    </table>

    <table>
        {% if legal_person_data | length != 0 %}
            <h3>Juriidilised isikud:</h3>
                <tr>
                    <th>Juriidilise isiku nimi</th>
                    <th>Regitrikood</th>
                    <th>Osaniku osa</th>
                </tr>
                    {% for legal_person in legal_person_data %}
                        <tr>
                            <td>{{ legal_person['company_name'] }}</td>
                            <td>{{ legal_person['registry_code'] }}</td>
                            <td>{{ legal_person['capital_share'] }}€</td>
                        </tr>
                    {% endfor %}
        {% endif %}
    </table>
    <!-- This sends the final company data and "submit" key to the flask application -->
    <!-- So we can add the data to database -->
    <button type="submit" form="company_data" name="button" value="submit">Asuta osaühing</button>
{% endblock %}
