{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Osaühingu andmete vaade {% endblock %}</h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/andmete_vaade_style.css">
{% endblock %}

{% block nav %}
    <li><a href="{{ url_for('main_page') }}">Avaleht</a></li>
    <li><a href="{{ url_for('company_founding_form') }}">Osaühingu asutamise vorm</a></li>
{% endblock %}

{% block form %}
    <form method="post">
         <table>
        <tr>
            <th>Ettevõtte nimi:</th>
            <th>Registrikood:</th>
            <th>Asutamiskuupäev:</th>
            <th>Kogukapital:</th>
        </tr>
        <tr>
            <td>{{ company['company_name'] }}</td>
            <td>{{ company['registry_code'] }}</td>
            <td>{{ company['start_date'] }}</td>
            <td>{{ company['total_capital'] }}€</td>
        </tr>
    </table>
    <h4>Osanikud:</h4>
    <table>
        {% if company['shareholders'] | length != 0 %}
            <h3>Füüsilised isikud:</h3>
                <tr>
                    <th>Nimi</th>
                    <th>Isikukood</th>
                    <th>Osaniku suurus</th>
                    <th>Asutaja</th>
                </tr>
                {% for person in company['shareholders'] %}
                    <tr>
                        <td>{{ person['first_name'] }} {{ person['last_name'] }}</td>
                        <td>{{ person['id_code'] }}</td>
                        <td>{{ person['share'] }}€</td>
                        <td>{{ person['founder'] }}</td>
                    </tr>
                {% endfor %}
        {% endif %}
    </table>

    <table>
        {% if company['legal_shareholders'] | length != 0 %}
            <h3>Juriidilised isikud:</h3>
                <tr>
                    <th>Nimi</th>
                    <th>Registrikood</th>
                    <th>Osaniku suurus</th>
                    <th>Asutaja</th>
                </tr>
                {% for legal_person in company['legal_shareholders'] %}
                <tr>
                    <td>{{ legal_person['company_name'] }}</td>
                    <td>{{ legal_person['registry_code'] }}</td>
                    <td>{{ legal_person['share'] }}€</td>
                    <td>{{ legal_person['founder'] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    </form>
{% endblock %}
